<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='presentation.css')}}">
</head>
<body>
    
<div class="abc" style="border-style: solid; border-width: 1px;">
    {% for i in a %}
    
        <h1> Author name= {{i[1]}}</h1>
        <h1> Blog Title= {{i[2]}}</h1>
        <h1>Post={{i[3]}}</h1>
    
    {% endfor %}
    </div>
    
</body>
</html> 




